#root{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #CA94FF 0%, rgba(70, 6, 134, 0.81) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    font-family: "Roboto";
}
.content{
    margin: auto;
    width: 650px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 8px;
    padding: 25px 50px 13px 50px;
}

.task-block{
    min-height: 90px;
}


.task{
    position: relative;
    font-size: 24px;
    line-height: 28px;
}
.task:not(:last-of-type){
    margin-bottom: 34px;
}
.done span{
    display: block;
    text-decoration: line-through;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.task:after{
    position: absolute;
    display: block;
    content: '';
    width: 60px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form{
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.newTaskInp{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.4);
}

.btn{
    width: 144px;
    height: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.btn-new{
    background: #fff;
}
.btn-hide{
    background: #FFE482;
    margin-right: 150px;
}